
*.suo
*.cache
/Source/CombatRealism/_DLLs
/Source/CombatRealism/Combat_Realism.csproj.user
Source/CombatRealism/Combat_Realism.csproj
Source/CombatRealism/obj/Debug/Combat_Realism.csproj.FileListAbsolute.txt
/Source/CombatRealism/Assemblies/UnityEngine.xml
/Source/CombatRealism/Assemblies/Assembly-CSharp.dll
/Source/CombatRealism/Assemblies/Assembly-CSharp-firstpass.dll
/Source/CombatRealism/Assemblies/Community Core Library.dll
/Source/CombatRealism/Assemblies/NAudio.dll
/Source/CombatRealism/Assemblies/NVorbis.dll
/Source/CombatRealism/Assemblies/UnityEngine.dll
/Source/CombatRealism/Assemblies/CombatRealism.dll
/Source/CombatRealism/Assemblies
